:root{
    --item-width: 270px;
}

.title{
    margin-top: 50px;
}

.log-in-options{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--item-width), 1fr));
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 50px;
    width: fit-content;
    width: 95%;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 1545px;
}

.log-in-option{
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.log-in-option .log-in-option-name{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 20px;
    transition-duration: 1s;
    font-weight: normal;
}

.log-in-option .log-in-option-name::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/open-outline-white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}

.log-in-option:hover .log-in-option-name{
    font-size: 22px;
}

.log-in-option:hover img{
    transform: scale(1.2);
}

.log-in-option img{
    width: 100%;
    height: 100%;
    filter: contrast(180%);
    filter: grayscale(50%);
    filter: brightness(50%) opacity(0.7);
    transition-duration: 1s;
}

